.Top-Container{
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.title{
    font-size: xx-large;
}

.buttonNew{
    width: 150px;
    height: 50px;
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
    border-radius: 8px;
}

.search-container{
    border: 1px solid rgb(136, 131, 131);
    border-radius: 5px;
    height: 70px;
    box-shadow: 0px 5px 0px grey;
    display: flex;
    align-items: center;

}

.search-card{
    margin-left: 20px;
    width: 50%;
    height: 30px;
}

.search-card input{
    height: 100%;
    width: 90%;
    border-radius: 5px;
}

.search-card button{
    height: 100%;
}

.info-container{
    background-color: aliceblue;
    margin-top: 30px;
    border-radius: 20px 20px 0 0;
}


.tabella{
    padding: 1.5em;
    width: 100%;
}

.thead{
    background-color: antiquewhite;
    height: 50px;
}

.pill{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(48, 38, 192);
    color: white;
    height: 30px;
    width: 70px;
    margin-top: 10px;
}

.ped{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(20, 114, 86);
    color: white;
    height: 30px;
    width: 70px;
    margin-top: 10px;
    padding: 0.5em;
}

.pedigree{
    display: flex;
    justify-content: center;
}


.azioni{
    
    
}